@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    padding: 0;
    margin: 0;

    }

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.SearchVideo-container  {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;


      .loading-spinner {
        width: 50px;
        height: 50px;
        border: 10px solid #565869; 
        border-top: 10px solid #282c34; 
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
      }
      
      .spinner-container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 350px;
        color: #565869;
        font-weight: bold;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
      }


    .search-bar-container {        
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
        .logo {
            color: #565869;
            font-weight: bold;
            font-size: 100px;
            font-family: 'Montserrat', sans-serif;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                background-color: #40414f;
                border: none;
                outline: none;
                box-shadow: 0 0 8px 0 #000000;
                border-radius: 5px;
                border-color: none;

                padding: 12px;
                width: 100%;
                color: white;
                font-size: 1.25rem;

                &::placeholder {
                    color: #696c81;
                    text-align: center;
                }
            }
        }

        p{
            color: white;
        }

    }

.Chatpage-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #202123;

    .container {
        /*dimensions of chat*/
        border-radius: 10px;
        width: 95%;
        height: 95%;
        display: flex;
        overflow: hidden;

        .Videviewer {
            flex: 3;  //flex 3 of 5 is this window
            background-color: #282c34;

            .Navbar {
                display: flex;
                align-items: center;   
                background-color: black;      
                height: 50px;
                padding: 10px;
                justify-content: space-between;

                .logo {
                    font-size: 20px;
                    font-weight: bold;
                    color: #565869;
                    font-family: 'Montserrat', sans-serif;
                }
                .button {
                    background-color: #40414f;
                    color: white;
                    font-size: 15px;
                    padding: 5px 10px;
                    border: none;
                }
            }

            .Video-container {
                display: flex;     
                align-items: center;
                overflow: hidden;       
                position:relative;
                height: calc(100% - 70px); //70px is the height of the navbar
                width: 100%;

            
            }
            .Video-container iframe {
                border:none;
                height:100%;
                width:100%;
                position:absolute;  

              }
        }
        .Chat-container {
            flex: 2;
            background-color: #282c34;
            color: white;

            .Chat-log{
                height: calc(100% - 70px); //70px is the height of the input
                overflow: scroll;
                text-align: left;

                .Message {                    
                    .Message-center{
                        padding: 12px; 
                        padding-left: 40px; 
                        padding-right: 40px;
                        display: flex; 
                    }
                }

                .Message.gpt {    
                    background-color: #444654;
                                    
                    .Message-center.gpt{
                        padding: 12px; 
                        padding-left: 40px; 
                        padding-right: 40px;
                        display: flex; 
                    }
                }



                .Message-center.loading{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    color: #565869;
                    font-weight: bold;
                    font-size: 30px;
                    font-family: 'Montserrat', sans-serif;
                }
                .content.loading{
                    width: 12px;
                    height: 12px;
                    border: 10px solid #565869; 
                    border-top: 10px solid #282c34; 
                    border-radius: 50%;
                    animation: spinner 1.5s linear infinite;
                }
            }

            .input {
                height: 50px;
                padding:10px;
                form {
                    display: flex;
                    width: 100%;                    
        
                    input {
                        background-color: #40414f;
                        border: none;
                        outline: none;
                        box-shadow: 0 0 8px 0 #000000;
                        border-radius: 5px;
                        border-color: none;

                        padding: 12px;
                        width: 100%;
                        color: white;
                        font-size: 1.25rem;
                        
                        &::placeholder {
                            color: #696c81;
                            text-align: center;
                        }
                    }
                }   
            }
        }

    }
}